.TeamDashboard {
	position: fixed;
	bottom: 0%;
	width: 100%;
	height: calc(100vh - 80px);
	// height: calc(100vh - 61px);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

a {
	text-decoration: none;
	color: black;
}

.mainContainer {
	height: 100%;
	display: flex;
	justify-content: flex-start;
}

.leftContainer {
	padding: 10px;
	width: 30%;
	height: 100%;
}

.rightContainer {
	padding: 10px;
	width: 70%;
	height: 100%;
}

.teamMembersContainer {
	width: 300px;
	display: flex;
	flex-direction: column;
}

.teamMembersList {
	display: flex;
	flex-direction: column;

	.userCard {
		width: 100%;
		max-width: 200px;
		padding: 0 12px 12px 12px;
		margin-bottom: 10px;
		border: 1px solid grey;
		border-radius: 10px;
	}
}

.teamActionsContainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	.actionItem {
		margin: 5px 0 5px 0;
	}
}
